@charset "UTF-8";

:root {
    color-scheme: light dark;
}

body, html {
    height: 100%;
}

body {
    overflow: auto;
    margin: 0;
    font: -apple-system-body;
}

@media (prefers-color-scheme: dark) {
    body, #editor {
    }
}

#container {
    display: table;
    width: 100%;
    height: 100%;
}

#editor {
    -webkit-user-select: auto !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow: auto;
    display: table-cell;
    height: 100%;
}

#editor:focus {
    outline: 0px solid transparent;
}

.placeholder[placeholder]:after {
    content: attr(placeholder);
    position: absolute;
    top: 0px;
    color: #ccc;
}

h1, p, ul, ol {
    margin: 0;
}
